<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PassPort API Test Suite">
    <test name="Smoke">
        <classes>
            <class name="tests.SmokeTest"/>
        </classes>
    </test>
    <test name="Auth">
        <classes>
            <class name="tests.AuthTests"/>
        </classes>
    </test>
    <test name="Functional">
        <classes>
            <class name="tests.BookingTests"/>
        </classes>
    </test>
    <test name="Negative">
        <classes>
            <class name="tests.NegativeTests"/>
        </classes>
    </test>
</suite>
